In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import cross_validation
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

C:\Anaconda3\lib\site-packages\sklearn\utils\fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [2]:
ds = pd.read_csv("Census01.csv")

In [3]:
ds.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,class
count,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,189664.134597,10.078089,1079.067626,87.502314,40.422382,0.239282
std,13.710510,105604.025423,2.570973,7452.019058,403.004552,12.391444,0.426649
min,17.000000,12285.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,117550.500000,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,178144.500000,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,237642.000000,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1490400.000000,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [4]:
ds.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class              int64
dtype: object

In [5]:
ds["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay', ' Never-worked'], dtype=object)

In [6]:
values = ds["workclass"].unique()
encoded_value = 0
for value in values:
    ds.loc[ds["workclass"] == value, "xxx_encoded_workclass"] = encoded_value
    encoded_value = encoded_value + 1

In [7]:
ds.dtypes

age                        int64
workclass                 object
fnlwgt                     int64
education                 object
education-num              int64
marital-status            object
occupation                object
relationship              object
race                      object
sex                       object
capital-gain               int64
capital-loss               int64
hours-per-week             int64
native-country            object
class                      int64
xxx_encoded_workclass    float64
dtype: object

In [8]:
ds["xxx_encoded_workclass"].unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.])

In [9]:
print(ds.describe())

                age          fnlwgt  education-num  capital-gain  \
count  48842.000000    48842.000000   48842.000000  48842.000000
mean      38.643585   189664.134597      10.078089   1079.067626
std       13.710510   105604.025423       2.570973   7452.019058
min       17.000000    12285.000000       1.000000      0.000000
25%       28.000000   117550.500000       9.000000      0.000000
50%       37.000000   178144.500000      10.000000      0.000000
75%       48.000000   237642.000000      12.000000      0.000000
max       90.000000  1490400.000000      16.000000  99999.000000

       capital-loss  hours-per-week         class  xxx_encoded_workclass
count  48842.000000    48842.000000  48842.000000           48842.000000
mean      87.502314       40.422382      0.239282               2.311658
std      403.004552       12.391444      0.426649               1.232680
min        0.000000        1.000000      0.000000               0.000000
25%        0.000000       40.000000      0.000000               2.000000
50%        0.000000       40.000000      0.000000               2.000000
75%        0.000000       45.000000      0.000000               2.000000
max     4356.000000       99.000000      1.000000               8.000000

In [10]:
ds.dtypes

age                        int64
workclass                 object
fnlwgt                     int64
education                 object
education-num              int64
marital-status            object
occupation                object
relationship              object
race                      object
sex                       object
capital-gain               int64
capital-loss               int64
hours-per-week             int64
native-country            object
class                      int64
xxx_encoded_workclass    float64
dtype: object

In [11]:
def get_encoded_variable_name(variable_name):
    encoded_variable_name = "___" + "encoded" + "_" + variable_name
    return encoded_variable_name

def encode_variable(variable_name):
    encoded_variable_name = get_encoded_variable_name(variable_name)
  
    # Uses the "ordinal" of the variable values as the encoded form for the nominal variable
    values = ds[variable_name].unique()
    encoded_value = 0
    for value in values:
        ds.loc[ds[variable_name] == value, encoded_variable_name] = encoded_value
        encoded_value += 1

In [12]:
nominal_variables = ["workclass","education","marital-status","occupation","relationship","race","sex","native-country"]

In [13]:
for nominal_variable in nominal_variables:
    encode_variable(nominal_variable)

In [14]:
ds.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,class,xxx_encoded_workclass,___encoded_workclass,___encoded_education,___encoded_marital-status,___encoded_occupation,___encoded_relationship,___encoded_race,___encoded_sex,___encoded_native-country
count,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,189664.134597,10.078089,1079.067626,87.502314,40.422382,0.239282,2.311658,2.311658,3.411961,1.083944,4.687994,1.538655,0.220241,0.331518,1.273924
std,13.710510,105604.025423,2.570973,7452.019058,403.004552,12.391444,0.426649,1.232680,1.232680,3.449311,1.257478,3.399549,1.440077,0.625644,0.470764,5.011128
min,17.000000,12285.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,117550.500000,9.000000,0.000000,0.000000,40.000000,0.000000,2.000000,2.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,37.000000,178144.500000,10.000000,0.000000,0.000000,40.000000,0.000000,2.000000,2.000000,2.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000
75%,48.000000,237642.000000,12.000000,0.000000,0.000000,45.000000,0.000000,2.000000,2.000000,5.000000,1.000000,7.000000,3.000000,0.000000,1.000000,0.000000
max,90.000000,1490400.000000,16.000000,99999.000000,4356.000000,99.000000,1.000000,8.000000,8.000000,15.000000,6.000000,14.000000,5.000000,4.000000,1.000000,41.000000

In [15]:
numerical_variables = ["age","fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]

In [16]:
target_variable = "class"

In [17]:
all_variables = numerical_variables + list(map(get_encoded_variable_name, nominal_variables))

In [18]:
split = cross_validation.ShuffleSplit(ds.shape[0], n_iter=1, random_state=1, test_size=.33)

In [19]:
for estimation, validation in split:
    print("Estimation: {}".format(estimation))
    print("Validation: {}".format(validation))

Estimation: [ 5567 10762 33089 ...,  5192 12172 33003]
Validation: [  391  1899 24506 ..., 35743   927 11491]

In [20]:
algorithm = LinearRegression()

In [21]:
for estimation_indices, validation_indices in split:
    print("=============================================================================")
    print("Estimation variable: {}".format(ds[all_variables].iloc[estimation_indices,:]))
    print("Estimation target: {}".format(ds[target_variable].iloc[estimation_indices]))
    print("=============================================================================")
    print("Validation variables: {}".format(ds[all_variables].iloc[validation_indices,:]))
    print("Validation target: {}".format(ds[target_variable].iloc[validation_indices]))
    print("=============================================================================")

=============================================================================
Estimation variable:        age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
5567    30  303867              9             0             0              44
10762   45  185497             13             0             0              70
33089   55  202652             13             0             0              35
15100   62  245491             13         99999             0              40
21610   48  233511              9             0             0              50
31624   29  261725             13             0             0              35
22972   47  112791              9             0             0              40
41175   34  289228             14         15024             0              45
646     31  402089              9             0             0              40
22136   25  144301             10             0             0              42
16417   43  195212             13             0             0              40
15315   60  165827             16          7688             0              60
12713   63  237620              9             0             0              30
23886   27  295799             10             0             0              40
41851   32  296538              9             0             0              42
15256   74   29887              9             0             0              10
47528   48  178137              9             0             0              44
22537   45  165484             16             0             0              50
1619    38  107513              9             0             0              40
43069   18  193889             10             0             0              20
15079   30  174201             10             0             0              40
8955    30  250499             10             0             0              55
7962    31  213002              8          4650             0              50
37662   29  267661             11             0             0              75
41755   62  200834             14             0             0              55
12953   26  205109             14             0             0              40
26374   27  328518             11             0             0              30
28988   50  269095              9             0             0              40
35594   30  250804              9             0             0              40
12454   42   30824             14          2354             0              16
...    ...     ...            ...           ...           ...             ...
39053   45  244194             12          5178             0              40
33878   41   75171             13             0             0              40
44510   46  270437              9             0             0              40
26103   33  188661              9             0             0              50
17137   43  151089              9             0             0              50
19433   59  367984             13             0             0              40
24535   17  193748              7             0             0              15
31959   17   24090              9             0             0              35
27204   45  114797              9             0             0              40
22926   51  138358              6             0             0              35
37532   19  176806              5             0             0              40
19946   28  315287              9             0             0              40
8444    39  114055             13             0             0              40
35730   54  239256             10             0             0              40
45413   41  275366             10             0             0              40
21758   50  341797              9             0             0              40
32025   50  139703             10             0             0              40
36230   40  246862             13             0             0               8
31228   31  162160              9             0             0              47
43757   51  108037             16             0             0              40
7751    69  107548              5             0             0              40
20609   31   86492             11             0             0              30
32912   23  197997              9             0             0              30
21440   31  133861             12             0             0              40
7813    47  189123              7             0          1485              58
43723   56  337065              4             0             0              40
32511   25  514716             13             0             0              40
5192    32  207668             13         15024             0              45
12172   27  104457             13             0             0              40
33003   25  196947             13             0             0              40

       ___encoded_workclass  ___encoded_education  ___encoded_marital-status  \
5567                      2                     1                          4
10762                     6                     0                          1
33089                     2                     0                          0
15100                     6                     0                          2
21610                     2                     1                          1
31624                     2                     0                          0
22972                     2                     1                          1
41175                     2                     3                          1
646                       4                     1                          2
22136                     2                     5                          0
16417                     2                     0                          1
15315                     0                     9                          1
12713                     2                     1                          1
23886                     2                     5                          1
41851                     2                     1                          1
15256                     5                     1                          6
47528                     2                     1                          2
22537                     2                     9                          1
1619                      4                     1                          1
43069                     5                     5                          0
15079                     2                     5                          0
8955                      1                     5                          1
7962                      2                    15                          0
37662                     1                     7                          0
41755                     2                     3                          1
12953                     2                     3                          0
26374                     1                     7                          0
28988                     2                     1                          2
35594                     2                     1                          1
12454                     2                     3                          2
...                     ...                   ...                        ...
39053                     1                     6                          1
33878                     2                     0                          2
44510                     2                     1                          2
26103                     2                     1                          1
17137                     6                     1                          1
19433                     5                     0                          1
24535                     2                     2                          0
31959                     2                     1                          0
27204                     2                     1                          4
22926                     2                    12                          2
37532                     2                     4                          1
19946                     2                     1                          0
8444                      0                     0                          0
35730                     0                     5                          1
45413                     3                     5                          1
21758                     2                     1                          2
32025                     2                     5                          1
36230                     5                     0                          6
31228                     2                     1                          1
43757                     0                     9                          2
7751                      1                     4                          1
20609                     2                     7                          1
32912                     2                     1                          0
21440                     2                     6                          2
7813                      2                     2                          1
43723                     2                     8                          2
32511                     4                     0                          0
5192                      2                     0                          1
12172                     2                     0                          0
33003                     2                     0                          0

       ___encoded_occupation  ___encoded_relationship  ___encoded_race  \
5567                       7                        0                0
10762                      1                        2                2
33089                      1                        0                0
15100                      5                        0                0
21610                      7                        1                0
31624                      0                        0                0
22972                     12                        1                0
41175                      1                        2                0
646                        0                        4                0
22136                      5                        3                0
16417                      1                        2                1
15315                      3                        1                0
12713                      6                        1                0
23886                      6                        1                0
41851                      9                        1                0
15256                     11                        0                0
47528                      9                        4                0
22537                      3                        1                0
1619                       7                        1                0
43069                     11                        3                0
15079                      6                        3                0
8955                       0                        2                0
7962                       5                        0                0
37662                      8                        0                0
41755                      1                        1                0
12953                      3                        0                0
26374                      3                        5                0
28988                      0                        0                0
35594                      6                        1                0
12454                      3                        0                0
...                      ...                      ...              ...
39053                      5                        1                0
33878                      1                        4                0
44510                      1                        4                0
26103                      6                        1                0
17137                      5                        1                0
19433                     11                        1                0
24535                      5                        3                0
31959                      1                        3                0
27204                      9                        4                1
22926                      6                        0                1
37532                      7                        1                0
19946                      0                        5                1
8444                       1                        0                0
35730                      0                        1                0
45413                      4                        1                0
21758                      6                        0                0
32025                      6                        1                0
36230                     11                        0                0
31228                      6                        1                0
43757                      1                        0                0
7751                       0                        1                0
20609                      7                        1                0
32912                      2                        3                0
21440                      1                        0                0
7813                       0                        1                0
43723                      8                        5                0
32511                      0                        3                1
5192                       1                        1                0
12172                      9                        0                2
33003                      5                        3                0

       ___encoded_sex  ___encoded_native-country
5567                0                          0
10762               1                          4
33089               1                          0
15100               0                          0
21610               0                          0
31624               1                          0
22972               0                          0
41175               1                          0
646                 1                          0
22136               0                          0
16417               1                          4
15315               0                          0
12713               0                          0
23886               0                          0
41851               0                          0
15256               1                          0
47528               1                          0
22537               0                          0
1619                0                          0
43069               1                          4
15079               0                          0
8955                1                          0
7962                0                          0
37662               0                          0
41755               0                          0
12953               1                          0
26374               0                          0
28988               1                          0
35594               0                          0
12454               1                          0
...               ...                        ...
39053               0                          0
33878               1                          0
44510               1                          0
26103               0                          0
17137               0                          0
19433               0                          0
24535               0                          0
31959               1                          0
27204               1                          0
22926               1                          0
37532               0                          0
19946               0                          4
8444                1                          0
35730               0                          0
45413               0                          0
21758               0                          0
32025               0                          0
36230               1                          0
31228               0                          0
43757               1                          0
7751                0                          0
20609               0                          0
32912               0                          0
21440               0                          0
7813                0                          0
43723               0                          0
32511               1                          0
5192                0                          0
12172               0                          4
33003               1                          0

[32724 rows x 14 columns]
Estimation target: 5567     0
10762    0
33089    0
15100    1
21610    1
31624    0
22972    0
41175    1
646      0
22136    0
16417    0
15315    1
12713    0
23886    0
41851    0
15256    0
47528    0
22537    1
1619     0
43069    0
15079    0
8955     1
7962     0
37662    0
41755    0
12953    0
26374    0
28988    0
35594    1
12454    0
        ..
39053    1
33878    0
44510    0
26103    0
17137    0
19433    0
24535    0
31959    0
27204    0
22926    0
37532    0
19946    0
8444     0
35730    0
45413    0
21758    0
32025    1
36230    0
31228    0
43757    0
7751     0
20609    1
32912    0
21440    0
7813     0
43723    0
32511    0
5192     1
12172    0
33003    0
Name: class, dtype: int64
=============================================================================
Validation variables:        age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
391     27  301302             13             0             0              50
1899    23  119838             13             0             0              50
24506   21  113106             10             0             0              30
32816   21  250939             10             0             0              35
47892   32  155151              9             0             0              55
21561   65  262446              7             0             0              20
808     64  270333             13             0             0              40
19596   40  164647             10             0             0              38
931     19   52114             10             0             0              10
29559   44  110908             11             0             0              25
39438   35  200352             13             0             0              45
31203   18   89760              8             0             0              20
34679   29  292120              9             0             0              30
5372    27   36851             11             0             0              35
31850   54   24108             10             0             0              40
31465   48  191389             10             0             0              50
31459   18  170544              7             0             0              20
38143   24  174413             13             0          1974              40
15230   54   28518              9             0             0              50
27311   49  168191              4             0             0              70
25561   24  162312              9             0             0              40
29827   40  175398             11             0             0              20
16406   28  192838             11             0             0              45
45844   60  608441              9             0             0              40

In [22]:
    for estimation_indices, validation_indices in split:

        #
        # Extracts the records based on the split indices
        estimation_records = ds[all_variables].iloc[estimation_indices,:]
        estimation_target = ds[target_variable].iloc[estimation_indices]

        #
        # Computes the model
        algorithm.fit(estimation_records, estimation_target)

        #
        # Estimates the model performance by applying it to the validation dataset
        validation_predictions = algorithm.predict(ds[all_variables].iloc[validation_indices,:])

        validation_predictions[validation_predictions > .5] = 1
        validation_predictions[validation_predictions <= .5] = 0
        acc = accuracy_score(ds[target_variable].iloc[validation_indices], validation_predictions)
        print("Accuracy : {}".format(acc))

Accuracy : 0.8117012036232784